*,
*:after,
*:before{
    box-sizing: border-box;
}

a,
ul,
li,
ul[role='list'],
ol[role='list'] {
  list-style: none;
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}